# Database Configuration
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Endpoint Authorization
JWT_SECRET=
JWT_ACCESS_EXP_SECONDS=
REFRESH_TOKEN_EXP_DAYS=

# One Time Password Configuration
OTP_PHONE_NUMBER=
OTP_LENGTH=
OTP_EXPIRE_SECONDS=
FONNTE_API_TOKEN=

# Application Configurations
APP_VERSION=
APP_REPOSITORY_URL=