version: '3.9'

services:
  app:
    image: 'kuenyawz-api:latest'
    networks:
      - kuenyawznetwork
    ports:
      - "62081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=postgres
      - DB_URL=${DB_URL}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - APP_VERSION=${APP_VERSION}
      - APP_REPOSITORY_URL=${APP_REPOSITORY_URL}
      - FRONTEND_BASE_URL=${FRONTEND_BASE_URL}
      - VENDOR_INSTAGRAM=${VENDOR_INSTAGRAM}
      - VENDOR_EMAIL=${VENDOR_EMAIL}
      - VENDOR_PHONE=${VENDOR_PHONE}
      - VENDOR_ADDRESS=${VENDOR_ADDRESS}
      - VENDOR_LATITUDE=${VENDOR_LATITUDE}
      - VENDOR_LONGITUDE=${VENDOR_LONGITUDE}
      - VENDOR_PAYMENT_FEE=${VENDOR_PAYMENT_FEE}
      - VENDOR_FEE_PER_KM=${VENDOR_FEE_PER_KM}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_ACCESS_EXP_SECONDS=${JWT_ACCESS_EXP_SECONDS}
      - REFRESH_TOKEN_EXP_DAYS=${REFRESH_TOKEN_EXP_DAYS}
      - OTP_PHONE_NUMBER=${OTP_PHONE_NUMBER}
      - OTP_LENGTH=${OTP_LENGTH}
      - OTP_EXPIRE_SECONDS=${OTP_EXPIRE_SECONDS}
      - FONNTE_API_TOKEN=${FONNTE_API_TOKEN}
      - MIDTRANS_MERCHANT_ID=${MIDTRANS_MERCHANT_ID}
      - MIDTRANS_SERVER_KEY=${MIDTRANS_SERVER_KEY}
      - MIDTRANS_BASE_URL_APP=${MIDTRANS_BASE_URL_APP}
      - MIDTRANS_BASE_URL_API=${MIDTRANS_BASE_URL_API}
      - MIDTRANS_NOTIFICATION_URL=${MIDTRANS_NOTIFICATION_URL}
      - MIDTRANS_FINISH_URL=${MIDTRANS_FINISH_URL}
      - MIDTRANS_UNFINISH_URL=${MIDTRANS_UNFINISH_URL}
      - MIDTRANS_ERROR_URL=${MIDTRANS_ERROR_URL}
    depends_on:
      - db

  db:
    image: 'postgres:latest'
    networks:
      - kuenyawznetwork
    environment:
      - POSTGRES_DB=kuenyawz
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - '62082:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

networks:
  kuenyawznetwork:
    driver: bridge

volumes:
  postgres_data: